Source: squid-gui
Section: system
Priority: optional
Maintainer: Codelinsoft <info@codelinsoft.it>
Build-Depends: debhelper (>= 8.0.0),libqt4-core, libqt4-gui, libqt4-qt3support, policykit-1, squid, dansguardian, lsb-core
Standards-Version: 3.9.2

Package: squid-gui
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: <Software per la gestione di squid e dansguardian>
 <Software per la gestione di squid e dansguardian.>
